/*1:#FF8C45 orange
  2:#2FAD91 vert
  3:#F2F2F2 blanc
bleu fncé : #0F705B
bleu clair : #80D6C3
gris fonce: #212427
gris clair : #3C3833
*/

.container {
   position: relative;
   /*margin-top: 100px;*/
   width: 100vw;
   text-align: center;
    height:100%;
 }


 .block {
     margin-top:6.445672191528545vh;
   width: 25%;
   height: 55.248618784530386vh;
   display: inline-block;
   background-color: #2FAD91;
   cursor: pointer;
   position: relative;
   -webkit-transition: width .5s ease-in-out, background-color .5s ease-in-out;
   -moz-transition: width .5s ease-in-out, background-color .5s ease-in-out;
   -ms-transition: width .5s ease-in-out, background-color .5s ease-in-out;
   -o-transition: width .5s ease-in-out, background-color .5s ease-in-out;
   transition: width .5s ease-in-out, background-color .5s ease-in-out;
   text-align: center;
 }

 .block:hover {
   background-color: #FF8C45;
   width: 50%;
   -webkit-transition: width .5s ease-in-out, background-color .5s ease-in-out;
   -moz-transition: width .5s ease-in-out, background-color .5s ease-in-out;
   -ms-transition: width .5s ease-in-out, background-color .5s ease-in-out;
   -o-transition: width .5s ease-in-out, background-color .5s ease-in-out;
   transition: width .5s ease-in-out, background-color .5s ease-in-out;
 }

 .block:hover .img-p {
   opacity: 1;
   -webkit-transition: opacity .5s .51s ease-in-out;
   -moz-transition: opacity .5s .51s ease-in-out;
   -ms-transition: opacity .5s .51s ease-in-out;
   -o-transition: opacity .5s .51s ease-in-out;
   transition: opacity .5s .51s ease-in-out;
 }
.block:hover .img-p {
   opacity: 1;
   -webkit-transition: opacity .5s .51s ease-in-out;
   -moz-transition: opacity .5s .51s ease-in-out;
   -ms-transition: opacity .5s .51s ease-in-out;
   -o-transition: opacity .5s .51s ease-in-out;
   transition: opacity .5s .51s ease-in-out;
    font-size:1.222em;
 }

 .block:hover .layer {
   opacity: .5;
   -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
 }

 .img-p {
   position: absolute;
   font-size: 4px;
   opacity: 0;
   color: #FFF;
   text-align: left;
    height:auto;

 }
.img-p a{
    font-size:1.222em;
    color:#0F705B;
}
a:hover, a:focus{
   color: #80D6C3;
    text-decoration: none;
}
.p-container {
   width: 80%;
   position: relative;
   top: 30%;
   margin-left: 5%;
 }


 .layer {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   background-color: #000;
   width: 100%;
   height: 100%;
   opacity: 0;
 }

@media (max-width: 768px) {
      .container {
        width: 90%;
        margin: 0 auto;
      }
      .block {
        width: 100%;
        height: 36.83241252302026vh;
         -webkit-transition: height .5s ease-in-out;
           -moz-transition: height .5s ease-in-out;
            -ms-transition: height .5s ease-in-out;
             -o-transition: height .5s ease-in-out;
                transition: height .5s ease-in-out;
      }

      .block:hover {
        width: 100%;
        height: 73.66482504604052vh;
        -webkit-transition: height .5s ease-in-out;
           -moz-transition: height .5s ease-in-out;
            -ms-transition: height .5s ease-in-out;
             -o-transition: height .5s ease-in-out;
                transition: height .5s ease-in-out;
      }
    }


@media (min-width: 768px) {
      .block {
        width: 20%;
      }
    }

    @media (min-width: 992px) {
      .block {
        width: 15%;
      }
    }

 .ua {
   position: fixed;
   right: 20px;
   top: 20px;
   color: #fff;
   font-size: 2em;
 }

 .fa {
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
 }

 .ua:hover .fa {
   color: #2FAD91;
   -webkit-transform: scale(1.5);
   -moz-transform: scale(1.5);
   -ms-transform: scale(1.5);
   -o-transform: scale(1.5);
   transform: scale(1.5);
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
 }
.icone1{
    background:url(../img/female_icon.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
}
.icone1:hover{
    background:none;
}
.icone2{
    background:url(../img/coeur_icone.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
}
.icone2:hover{
    background:none;
}
.icone3{
    background-color:blue;
    background:url(../img/enveloppe_icone.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
    overflow:hidden;
   /* margin-bottom: 20.626151012891345vh;*/
}
.icone3:hover{
    background:none;
}
.footer{
    height:18.41620626151013vh;
}
h2 {
    color: #FF8C45;
    text-align: justify;
    font-family: 'Indie Flower', cursive;
    font-size:1.667em;
}
p{
    font-family: 'Indie Flower', cursive;
    font-weight:600;
}
.rw-wrapper{
	width: 80%;
	position: relative;
	font-family: 'Bree Serif';
	padding: 10px;
    height:12vh;
}
.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.rw-sentence span{
	color: #262626;
	white-space: nowrap;
	font-size: 150%;
	font-weight: normal;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 200%;
	color: #52E93A;
    max-width:500px;
}
.rw-words-2 span{
	-webkit-animation: rotateWordsSecond 18s linear infinite 0s;
	-ms-animation: rotateWordsSecond 18s linear infinite 0s;
	animation: rotateWordsSecond 18s linear infinite 0s;
}
.rw-words span:nth-child(2) {
    -webkit-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
	color: #A052AD;
}
.rw-words span:nth-child(3) {
    -webkit-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
	color: #304047;
}
.rw-words span:nth-child(4) {
    -webkit-animation-delay: 9s;
	-ms-animation-delay: 9s;
	animation-delay: 9s;
	color: #E0263E;
}
.rw-words span:nth-child(5) {
    -webkit-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s;
	color: #71E053;
}
.rw-words span:nth-child(6) {
    -webkit-animation-delay: 15s;
	-ms-animation-delay: 15s;
	animation-delay: 15s;
	color: #E0B23E;
}
@-webkit-keyframes rotateWordsFirst {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWordsFirst {
    0% { opacity: 1; -ms-animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}
@keyframes rotateWordsFirst {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

@-webkit-keyframes rotateWordsSecond {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWordsSecond {
    0% { opacity: 1; -ms-animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}
@keyframes rotateWordsSecond {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 1.000em; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 0.500em;
    }
    footer {
        max-height: 50px;
    }
}
footer {
    background-color:#2FAD91;
    position: fixed;
    left:0px;
   bottom:0px;
   height:14.574585635359117vh;
   width:100%;
}
footer p{
    color:#FFF;
    margin-bottom: -1.8416206261510129vh;
    font-size:0.778em
}
footer a{
    color:#FFF;
}
footer a :hover{
    color:#FF8C45;
    font-size:420%;
}
.nopad{
    padding:0px;
}
